.jumbotron {
    background-color: black;
    border-bottom: 10px, solid, #43F5B7;
    text-align: center;
    margin-top: 30px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-home {
    flex: 1 200px;
    border-radius: 30px;
    
}
.btn-leer {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

body {
    background-color: #414545;
}

.tab-content {
    padding-top: 10px;
}



.lente{
    margin-bottom: 20px;
}

