.jumbotron {
  background-color: #000000;
  border-bottom: 10px, solid, #2dd6ac;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #000000;
  margin-top: 30px;
  margin-bottom: 0px; }

.card-home {
  flex: 1 200px;
  border-radius: 30px; }

.btn-leer {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; }

body {
  background-color: #404040; }

.tab-content {
  padding-top: 10px; }

.lente {
  margin-top: 0px;
  margin-bottom: 30px; }
