@gris: #404040;
@negro: #000000;
@turquesa:#2dd6ac;



.jumbotron {
    background-color:@negro;
    border-bottom: 10px, solid, @turquesa;
    text-align: center;
    margin-top: 30px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: @negro;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-home {
    flex: 1 200px;
    border-radius: 30px;
    
}
.btn-leer {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

body {
    background-color: @gris;
}

.tab-content {
    padding-top: 10px;
}



.lente{
    margin-bottom: 20px;
}